{% extends 'main/base.html'%}

{% block content %}
<h2>{{ meet.name }} <span class="text-muted">#{{ meet.id }}</span></h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Session</th>
                <th scope="col">Start time</th>
                <th scope="col"># Lifters</th>
                {% if user.is_authenticated %}<th></th>{% endif %}
            </tr>
        </thead>
        <tbody>
        {% if sessions_list %}
            {% for session in sessions_list %}
                <tr>
                    <th scope="row"><a href="{% url 'meet:session:index' meet.id session.id%}">{{ session }}</a></th>
                    <td>{{ session.start_time }}</td>
                    <td>{{ session.athlete_set.count }}</td>
                    {% if user.is_authenticated %}
                    <td>
                        <form action="{% url 'meet:session:session_delete' meet.id session.id %}" method="delete">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3"> No sessions to show! </td>
            </tr>
        {% endif %}
            <tr>
                <th colspan="3">
                    {% if user.is_authenticated %}
                    <a href="{% url 'meet:display_add_form' meet.id %}"><button class="btn btn-primary btn-sm">Create a session</button></a>
                    {% endif %}
                <th>
            </tr>

        </tbody>
    </table>




{% endblock %}
