{% extends 'main/base.html'%}

{% block content %}
<h2>Admin</h2>
{% if meet_list %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Meet</th>
            </tr>
        </thead>
        <tbody>
        {% for meet in meet_list %}
            <tr>
                <th scope="row"><a href="{% url 'meet:index' meet.id %}">{{ meet }}</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> No meets to show, create one!</p>
{% endif %}
{% endblock %}