{% extends 'main/base.html'%}

{% block content %}
    <h2>Admin</h2>
    {% if meet_list %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <td scope="col" class="text-muted">ID</td>
                    <th scope="col" colspan="2">Meet</th>
                </tr>
            </thead>
            <tbody>
            {% for meet in meet_list %}
                <tr>
                    <td class="text-muted">{{ meet.id }}</td>
                    <th scope="row"><a href="{% url 'meet:index' meet.id %}">{{ meet }}</a></th>
                    <td>
                        <form action="{% url 'meet:meet_delete' meet.id %}" method="delete">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
                <tr>
                    <th colspan="3">
                        <form class="form-inline" action="{% url 'homepage:meet_add' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Meet name" name="name" required>
                                <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </th>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p> No meets to show, create one!</p>
    {% endif %}
{% endblock %}